.qodo

# Node
frontend/node_modules/

# Python venv
backend/.venv/

# Django dev DB
backend/db.sqlite3

# Uploaded media
backend/media/

# Caches
__pycache__/
.pytest_cache/
.cache/

# macOS junk
.DS_Store
__MACOSX/

# Builds
/dist/
/build/

# Logs
*.log
*.tmp

# Editor
.eslintcache

# Environment variables
backend/.env
